/* reinitialisation index */

:root{
    margin: 0px;
    padding: 0px;
    color: black;
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
/* ............ */

.menucontainer{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    align-items: center;
}
.menucontainer .listMenu ul{
display: flex;
justify-content: space-between;
align-items: center;
gap: 35px;
font-weight: bold;
}

.menucontainer .listMenu ul li:nth-child(2){
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 0px 35px;
}

.content{
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
    padding: 20px 80px;
    flex-direction: row;
    margin-bottom: 50px;

}

.content .imagecontent{
    border-radius: 100%;
    width: 300px;
    height: 300px;
    object-fit: fill;
}

.imagecontent img{
    filter: grayscale(50%);
    width: 300px;
    height: 300px;
    border-radius: 100%;
    object-fit: cover;
}
.textcontent {
    padding: 10px;
}
.textcontent h2{
    font-size: 40px;
    font-weight: bold;
}
.textcontent h3{
    font-size: 20px;
    font-weight: bold;
}

.content .menu{
  display: flex; 
  justify-content: space-between;
  padding: 0px 80px;
  align-items: center;
  gap: 0px;
}
.menu .cv{
    display: flex;
    justify-content: center;
    border: 50px solid orange;
    border-radius: 100%;
    width: 0px;
    height: 0px;
    font-weight: bold;
    margin-top: 10px;
}
.menu .projets{
    display: flex;
    justify-content: center;
    border: 50px solid red;
    border-radius: 100%;
    width: 0px;
    height: 0px;
    font-weight: bold;
    margin-top: 10px; 
}
.menu .contact{
    display: flex;
    justify-content: center;
    border: 50px solid aqua;
    border-radius: 100%;
    width: 0px;
    height: 0px;
    font-weight: bold;
    margin-top: 10px; 
}

/* ..............*/


/* stylisation de la page cv */
.Vitae{
    text-indent: 100px;
}
.element{
    padding:10px 5px;
    margin: 10px 5px;
    text-indent: 200px;
}
.element2{
    padding: 10px 5px; 
}

.element3{
    display: flex;
    justify-content:space-between;
    flex-direction: row-reverse; 
    padding-right: 150px;
}

.part{
    border-top: 1px solid black;
    text-indent: 200px;
}

.comp{
    border-top: 1px solid black;
    text-indent: 200px;
}
.lang{
    
    border-top: black solid 1px ;
    text-indent: 200px;
}
.foot{
    display: flex;
    justify-content: space-around;
    padding-block-end: 40px;
    border-top: 1px solid gray;
    background-color: rgb(6, 141, 128);
}

/*.............*/

/*stylisation de la page contact*/


.infocontainer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px 70px;
    margin-bottom: 300px;
    margin-top: 80px;  
}

.infocontainer2{
    padding-left: 10px;
}

.formcontainer{
    max-width: 550px;
}

.formcontainer form{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    border-radius: 30%;  
}
.formcontainer button{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #eea302;
    border: 1px solid black;
    margin-top: 30px;
}
.formcontainer  input{
    border: 2px solid rgb(0, 0, 0);
    margin-top: 10px;
    width: 250px;
    height: 50px;
}
.formcontainer textarea{
    border: 2px solid rgb(0, 0, 0);
    margin-top: 10px;
    width: 300px;
}
.formcontainer  label{
    font-weight: bold;
}

/*................*/


/*stylisation de la page projet*/

.proj{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 50px;
    margin-bottom: 50px;
}
.head{
    text-indent: 50px;
    margin-bottom: 50px;
}

.texte{
    padding-left: 280px;
    
}
.cadre1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
.text1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 250px;
}
.text2{
    display: flex;
    flex-direction: row;
    justify-content: right;
    object-fit: fill;
    padding-right: 169px;
}
.text2 img{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 100px 50px;
    align-items: center;
    border: 1px solid   grey;
    border-radius: 16px 16px;
    aspect-ratio: 1080px/1920px;
}
.cadre3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    
}

.text3{
    display: flex;
    flex-direction: row;
    justify-content: right;
    object-fit: cover;
    padding-right: 150px;
}
.text3 video{
    aspect-ratio: 1080px/1920px;
    border-radius: 16px 16px;
    object-fit: fill;
    width: 250px;
    height: 250px
}
.cadre2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin-top: 80px;
}
.text4{
    display: flex;
    flex-direction: row;
    justify-content: right;
    object-fit: cover;
    padding-right: 150px;
}
.text4 video{
    object-fit: fill;
    width: 250px;
    height: 250px;
    border-radius: 16px 16px;
    aspect-ratio: 1080px/1920px;
}
.header{
    background-color: rgb(6, 141, 128);
}
.body{
    background-color: grey;
}

/*....................*/

@media ( min-width:280px) and ( max-width:430px){
    .menucontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 8px 64px;
        align-items: center;
        width: 80%;
    }
    
    .content{
        display: flex;
        justify-content: center;
        gap: 35px;
        align-items: center;
        padding: 80px 20px;
        flex-direction: column;
        margin-bottom: 50px;
        width: 120%;
    }
    
    .textcontent {
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-block-end: 20px;
        border-top: 1px solid gray;
        width: 150%;
    }
}




